@font-face {
    font-family: "aparajitaregular";
    src: url("../fonts/aparaj-webfont.woff2") format("woff2"),
    url("../fonts/aparaj-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}
